In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("stock_data.csv", index_col="Date")

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
data.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-02  86.139999  84.342003  84.900002  86.052002   47660500.0  86.052002
2020-01-03  90.800003  87.384003  88.099998  88.601997   88892500.0  88.601997
2020-01-06  90.311996  88.000000  88.094002  90.307999   50665000.0  90.307999
2020-01-07  94.325996  90.671997  92.279999  93.811996   89410500.0  93.811996
2020-01-08  99.697998  93.646004  94.739998  98.428001  155721500.0  98.428001

In [8]:
data['Close'].head()

Date
2020-01-02    86.052002
2020-01-03    88.601997
2020-01-06    90.307999
2020-01-07    93.811996
2020-01-08    98.428001
Name: Close, dtype: float64

In [9]:
type(data['Close'])

pandas.core.series.Series

In [10]:
data[['Close', 'Volume']].head()

                Close       Volume
Date
2020-01-02  86.052002   47660500.0
2020-01-03  88.601997   88892500.0
2020-01-06  90.307999   50665000.0
2020-01-07  93.811996   89410500.0
2020-01-08  98.428001  155721500.0

In [11]:
data.loc['2020-01-02']

High         8.614000e+01
Low          8.434200e+01
Open         8.490000e+01
Close        8.605200e+01
Volume       4.766050e+07
Adj Close    8.605200e+01
Name: 2020-01-02, dtype: float64

In [12]:
data.loc['2020-01-02':'2020-01-31']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,86.139999,84.342003,84.900002,86.052002,47660500.0,86.052002
2020-01-03,90.800003,87.384003,88.099998,88.601997,88892500.0,88.601997
2020-01-06,90.311996,88.000000,88.094002,90.307999,50665000.0,90.307999
2020-01-07,94.325996,90.671997,92.279999,93.811996,89410500.0,93.811996
2020-01-08,99.697998,93.646004,94.739998,98.428001,155721500.0,98.428001
2020-01-09,99.760002,94.573997,99.419998,96.267998,142202000.0,96.267998
2020-01-10,96.987999,94.739998,96.358002,95.629997,64797500.0,95.629997
2020-01-13,105.125999,98.400002,98.699997,104.972000,132588000.0,104.972000
2020-01-14,109.482002,104.980003,108.851997,107.584000,144981000.0,107.584000
2020-01-15,107.568001,103.358002,105.952003,103.699997,86844000.0,103.699997
2020-01-16,102.891998,98.433998,98.750000,102.697998,108683500.0,102.697998
2020-01-17,103.134003,100.632004,101.522003,102.099998,68145500.0,102.099998
2020-01-21,109.716003,105.681999,106.050003,109.440002,89017500.0,109.440002
2020-01-22,118.900002,111.820000,114.377998,113.912003,156845000.0,113.912003
2020-01-23,116.400002,111.120003,112.849998,114.440002,98255000.0,114.440002
2020-01-24,114.772003,110.851997,114.125999,112.963997,71768000.0,112.963997
2020-01-27,112.888000,107.856003,108.398003,111.603996,68040500.0,111.603996
2020-01-28,115.362000,111.615997,113.697998,113.379997,58942500.0,113.379997
2020-01-29,117.959999,113.486000,115.138000,116.197998,89007500.0,116.197998
2020-01-30,130.175995,123.599998,126.484001,128.162003,145028500.0,128.162003
2020-01-31,130.600006,126.503998,128.000000,130.113998,78596500.0,130.113998

In [13]:
data.to_excel("stock_data.xlsx")

In [14]:
data.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-02  86.139999  84.342003  84.900002  86.052002   47660500.0  86.052002
2020-01-03  90.800003  87.384003  88.099998  88.601997   88892500.0  88.601997
2020-01-06  90.311996  88.000000  88.094002  90.307999   50665000.0  90.307999
2020-01-07  94.325996  90.671997  92.279999  93.811996   89410500.0  93.811996
2020-01-08  99.697998  93.646004  94.739998  98.428001  155721500.0  98.428001

In [15]:
data['My column'] = data['Close'] + 10

In [16]:
data.head()

,High,Low,Open,Close,Volume,Adj Close,My column
Date,,,,,,,
2020-01-02,86.139999,84.342003,84.900002,86.052002,47660500.0,86.052002,96.052002
2020-01-03,90.800003,87.384003,88.099998,88.601997,88892500.0,88.601997,98.601997
2020-01-06,90.311996,88.000000,88.094002,90.307999,50665000.0,90.307999,100.307999
2020-01-07,94.325996,90.671997,92.279999,93.811996,89410500.0,93.811996,103.811996
2020-01-08,99.697998,93.646004,94.739998,98.428001,155721500.0,98.428001,108.428001