In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("stock_data.xlsx", engine='openpyxl')

In [3]:
data.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2020-01-02,86.139999,84.342003,84.900002,86.052002,47660500,86.052002
1,2020-01-03,90.800003,87.384003,88.099998,88.601997,88892500,88.601997
2,2020-01-06,90.311996,88.000000,88.094002,90.307999,50665000,90.307999
3,2020-01-07,94.325996,90.671997,92.279999,93.811996,89410500,93.811996
4,2020-01-08,99.697998,93.646004,94.739998,98.428001,155721500,98.428001

In [4]:
data = pd.read_excel("stock_data.xlsx", engine='openpyxl', index_col="Date")

In [5]:
data.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2020-01-02  86.139999  84.342003  84.900002  86.052002   47660500  86.052002
2020-01-03  90.800003  87.384003  88.099998  88.601997   88892500  88.601997
2020-01-06  90.311996  88.000000  88.094002  90.307999   50665000  90.307999
2020-01-07  94.325996  90.671997  92.279999  93.811996   89410500  93.811996
2020-01-08  99.697998  93.646004  94.739998  98.428001  155721500  98.428001

In [ ]:
# data.to_excel("stock_data.xlsx")

In [6]:
import xlsxwriter

In [7]:
excel_file = 'output.xlsx'
sheet_name = 'Stock prices'
writer = pd.ExcelWriter(excel_file, engine='xlsxwriter')
data.to_excel(writer, sheet_name=sheet_name)

# Access the XlsxWriter workbook and worksheet objects from the dataframe.
workbook = writer.book
worksheet = writer.sheets[sheet_name]

# Create a line chart object.
chart = workbook.add_chart({'type': 'line'})

# Get the number of rows and column index
max_row = len(data)
col_x = 0 # this is index
col_y = data.columns.get_loc('Close') + 1

# Add a data to our chart
chart.add_series({
    'name':       "Price",
    'categories': [sheet_name, 1, col_x, max_row, col_x],
    'values':     [sheet_name, 1, col_y, max_row, col_y],
})

# Set name on axis
chart.set_x_axis({'name': 'Date'})
chart.set_y_axis({'name': 'Price',
                  'major_gridlines': {'visible': False}})

# Insert the chart into the worksheet in field D2
worksheet.insert_chart('H2', chart)

# Close and save the Excel file
writer.save()